
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<!--  AboutUs -->
<div class="page-heading">
  
    <div class="container">

        <h2>About Us</h2>

    </div>

</div>

<!--BANNER END-->
<!--CONTANT START-->

<div class="contant">

    <div class="container">

        <div class="contact-us">

            <!--EVENT START-->

            <h2>Why eGreetings?</h2>
            <div class="row-fluid">

                <div class="span9">

                    <p style="text-align: justify;">The eGreetings portal aims to promote a contemporary and eco-friendly method of sharing greetings by Government officials and agencies as well as citizens to colleagues and friends for National Holidays and other national occasions. The portal allows users to select and send greetings from multiple occasion-specific templates. Government Departments can also customize the greetings by adding tag-lines and messages related to their programmes and schemes. The observance of National and International days and disseminating informational messages and greetings related to such occasions will facilitate sharing and dissemination of educational and informational content to citizens. Greetings are an important way of communicating with colleagues and friends on special occasions and days of national importance. Sending a Greeting generates goodwill in the recipient. The erstwhile trend in the Government was to send paper Greeting-cards or use free internet-based eGreetings sites. The first option is not eco-friendly. Free internet based sites do not address the specific needs and requirements of the Greeting format, especially for government organizations.</p>

                </div>

                <div class="span3">
                    <img src="@Url.Content("~/content/")images/about-us.jpg" />
                </div>
            </div>
            <br /><br />
            <div class="row-fluid">
                <div class="span3">
                    <img src="@Url.Content("~/content/")images/about.png" />
                </div>
                <div class="span9">

                    <p style="text-align: justify;">Based on the assessment of these requirements, DeitY and NIC have created the government's own eGreetings portal under the Early Harvest Programmes of Digital India. The portal includes Greetings for various occasions, including days of National Importance. The portal also addresses eGreetings the specific needs of government organizations. For  instance, specific templates can be created for National Science Day, Women's Day, various Health days, etc. as well as for national campaigns. Each department can create its own Greetings and slogans to connect with their employees, colleagues and stakeholders. The designs and templates of the greetings are being crowd sourced. The portal is also open to use by all citizens. This would promote greater interaction and participation of citizens in the process of creative work for the government as well as dissemination of information pertaining to subjects of national importance.</p>
                </div>

            </div>

        </div>



    </div>

    <!--EVENT END-->

</div>



<div class="clearfix"></div>



        </div>



    </div>

